.App{
  text-align: center; font-family: sans-serif; 
}

.App-header{ 
  background-color: #282c34; 
  padding: 20px; 
  color: white; 
}

table{
  margin: 40px auto; 
  border-collapse: collapse; 
  width: 80%; 
  box-shadow: 0 0 20px rgba(0,0,0,0.1); 
}

th, td{ 
  border: 1px solid #ddd; 
  padding: 12px; 
  text-align: left; 
}

th{ 
  background-color: #61dafb; 
  color: #282c34; 
}

tr:nth-child(even){ 
  background-color: #f2f2f2; 
}

tr:hover{ 
  
  background-color: #ddd; }